<div class="container-fluid expanded-panel">
	<div class="row">
		<div id="logo" class="col-xs-12 col-sm-2">
			<a href="index.html">{{#lbl}}{{header_projname}}{{/lbl}}</a>
		</div>
		<div id="top-panel" class="col-xs-12 col-sm-10">
			<div class="row">
				<div class="col-xs-12 col-sm-12 top-panel-right">
					<ul class="nav navbar-nav pull-right panel-menu">
						<li class="dropdown"><a href="#" data-toggle="dropdown">
								<i class="fa fa-angle-down pull-right"></i> <span>{{loginUsrLastName}}, {{loginUsrFirstName}}</span>

						</a>
							<ul class="dropdown-menu">
								<li><a href="#"><span>{{#lbl}}{{header_logout}}{{/lbl}}</span>
								</a></li>
							</ul></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
